<h3>NXDC 组件库 简介</h3>
<p >NXDC组件库是YEAHMOBI公司研发中心基于自身业务的需要和对特殊组件的需求开发的面向YEAHMOBI前端开发人员的web组件，控件库. 这一组件库的开发目的是:推广前端的标准化，组件化，加快前端的开发进度,形成统一的前端风格。</p>
<h3>基于jQuery@2 和 Bootstrap@3</h3>
<p>NXDC以jquery库和bootstrap库作为基础类库，在其上进行二次开发和封装。所有jquery和bootstrap 拥有的特性这个库包含的组件有拥有,css也是一样。</p>
<div class="bs-callout bs-callout-warning bg-warning" id="required">
<h4>jQuery</h4>
<p>请注意,<strong>所有插件都依赖jQuery,Bootstrap亦依赖于jQuery</strong>,所以请务必确保，使用NXDC前，正确安装了jQuery库</p>
</div>
<h3>目录结构说明</h3>
<div class="highlight">
<pre class="prettyprint">
<code>
NXDC
  ┊﹍﹎.bowerrc            ------>bower 启动配置文件(描述bower下载文件存放位置，配置项目文件读取)
  ┊﹍﹎.git                ------>git 项目文件（git的配置文件，hash bob 都存在这个隐藏文件夹中）
  ┊﹍﹎.gitignore          ------>git提交忽略配置文件
  ┊﹍﹎Gruntfile.js        ------>自动化打包压缩grunt 配置文件
  ┊﹍﹎bower.json          ------>bower项目配置文件
  ┊﹍﹎dist                ------>发布目录
  ┊﹍﹎html                ------>html文件目录
  ┊      ┊﹍﹎nxdc.html    ------>项目主页面（index.html）
  ┊      ┊﹍﹎partials     ------>碎片html文件目录
  ┊﹍﹎imgs                ------>图片资源目录
  ┊﹍﹎lib                 ------>第三方依赖库目录
  ┊﹍﹎package.json        ------>node项目配置文件
  ┊﹍﹎skeleton.json       ------>skeleton项目配置文件
  ┊﹍﹎src                 ------>项目源码目录
  ┊      ┊﹍﹎css          ------>css文件夹
  ┊      ┊﹍﹎js           ------>js文件夹
  ┊﹍﹎test                ------>项目测试文件夹
</code>
</pre>
</div>
<script type="text/javascript">
	prettyPrint();//渲染 代码 
</script>