<div class="pa-header">
<h3>checkbox/radio 用户自定义</h3>
</div>
<h5>默认样式</h5>
<div class="bs-example">
	<div class="ndp-tab-wrapper">
		<dl>
			<dd style="padding-left:20px;">
				<input type="checkbox"  id="cus1" class="form-input">
				<label for="cus1">
				<span class="checkbox-mark"></span>
				选项1(多选)
				</label>				
			</dd>
			<dd style="padding-left:20px;">
				<input type="checkbox"  id="cus2" class="form-input">
				<label for="cus2">
				<span class="checkbox-mark"></span>
				选项2(多选)
				</label>					
			</dd>
		</dl>
		<dl>
			<dd style="padding-left:20px;">
				<span style="margin-right:20px;">
				<input type="radio"  id="cus3" name="gp" class="form-input">
				<label for="cus3">
				<span class="radio-dot"></span>
				选项1222222
				</label>
				</span>
				<span>
				<input type="radio"  id="cus4" name="gp" class="form-input">
				<label for="cus4">
				<span class="radio-dot"></span>
				选项2
				</label>
				</span>											
			</dd>			
		</dl>
	</div>	
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code>
&lt;input type=&quot;checkbox&quot;  id=&quot;cus1&quot; class=&quot;form-input&quot; &gt;
&lt;label for=&quot;cus1&quot;&gt;
&lt;span class="checkbox-mark"&gt;&lt;/span&gt;
选项1(多选)
&lt;/label&gt;			
		</code>
	</pre>
	<pre class="prettyprint">
		<code>
&lt;input type=&quot;checkbox&quot;  id=&quot;cus2&quot;class=&quot;form-input&quot;&gt;
&lt;label for=&quot;cus1&quot;&gt;
&lt;span class="checkbox-mark"&gt;&lt;/span&gt;
选项2(多选)
&lt;/label&gt;			
		</code>
	</pre>	
	<pre class="prettyprint">
		<code>
&lt;input type=&quot;radio&quot;  id=&quot;cus3&quot; name=&quot;gp&quot;class=&quot;form-input&quot;&gt;
&lt;label for=&quot;cus3&quot;&gt;
&lt;span class="radio-dot"&gt;&lt;/span&gt;
选项1222222
&lt;/label&gt;
&lt;input type=&quot;radio&quot;  id=&quot;cus4&quot; name=&quot;gp&quot;class=&quot;form-input&quot;&gt;
&lt;label for=&quot;cus4&quot;&gt;
&lt;span class="radio-dot"&gt;&lt;/span&gt;
选项2
&lt;/label&gt;			
		</code>
	</pre>	
	
	<pre class="prettyprint">
		<code>
在页面上引入 check-radio.css 即可以实现上述效果			
		</code>
	</pre>
</div>
<script type="text/javascript">
	prettyPrint();//渲染 代码 
</script>