<div class="pa-header">
<h3>如何使用</h3>
</div>
<div class="bs-example">
   <ul class="font-kitchen">
   	<li>
   		<i class="font-icon font-icon-edit"></i>
   		<span>正常尺寸</span>
   	</li>
   	<li>
   		<i class="font-icon font-icon-edit size-2x"></i>
   		<span>正常尺寸x2 </span>
   	</li>
   	<li>
   		<i class="font-icon font-icon-edit size-3x"></i>
   		<span>正常尺寸x3</span>
   	</li> 
   	<li>
   		<i class="font-icon font-icon-edit size-4x"></i>
   		<span>正常尺寸x4</span>
   	</li>   	  	   	
   </ul>      
</div>
<div class="highlight">
    <pre class="prettyprint">
        <code class="language-js">
		&lt;i class="font-icon font-icon-edit"&gt;&lt;/i&gt;
		&lt;i class="font-icon font-icon-edit size-2x"&gt;&lt;/i&gt;
		&lt;i class="font-icon font-icon-edit size-3x"&gt;&lt;/i&gt;
		&lt;i class="font-icon font-icon-edit size-4x"&gt;&lt;/i&gt;
        </code>
    </pre>
</div>
<h3>图标列表</h3>
<div class="bs-glyphicons"> 
	<ul class="bs-glyphicons-list">
		<li>
			<span class="font-icon font-icon-edit"></span>
			<span class="glyphicon-class">
				font-icon font-icon-edit
			</span>
			<span class="glyphicon-content-code">e674</span>
		</li>
		<li>
			<span class="font-icon font-icon-copy"></span>
			<span class="glyphicon-class">
				font-icon font-icon-copy
			</span>
			<span class="glyphicon-content-code">e676</span>
		</li>
		<li>
			<span class="font-icon font-icon-attention"></span>
			<span class="glyphicon-class">
				font-icon font-icon-attention
			</span>
			<span class="glyphicon-content-code">e924</span>
		</li>
		<li>
			<span class="font-icon font-icon-help"></span>
			<span class="glyphicon-class">
				font-icon font-icon-help
			</span>
			<span class="glyphicon-content-code">e655</span>
		</li>
		<li>
			<span class="font-icon font-icon-money"></span>
			<span class="glyphicon-class">
				font-icon font-icon-money
			</span>
			<span class="glyphicon-content-code">e683</span>
		</li>
		<li>
			<span class="font-icon font-icon-check"></span>
			<span class="glyphicon-class">
				font-icon font-icon-check
			</span>
			<span class="glyphicon-content-code">e69b</span>
		</li>
		<li>
			<span class="font-icon font-icon-user"></span>
			<span class="glyphicon-class">
				font-icon font-icon-user
			</span>
			<span class="glyphicon-content-code">e6a9</span>
		</li>
		<li>
			<span class="font-icon font-icon-update"></span>
			<span class="glyphicon-class">
				font-icon font-icon-update
			</span>
			<span class="glyphicon-content-code">e69e</span>
		</li>
		<li>
			<span class="font-icon font-icon-back"></span>
			<span class="glyphicon-class">
				font-icon font-icon-back
			</span>
			<span class="glyphicon-content-code">e69d</span>
		</li>
		<li>
			<span class="font-icon font-icon-remind"></span>
			<span class="glyphicon-class">
				font-icon font-icon-remind
			</span>
			<span class="glyphicon-content-code">e6a3</span>
		</li>
		<li>
			<span class="font-icon font-icon-key"></span>
			<span class="glyphicon-class">
				font-icon font-icon-key
			</span>
			<span class="glyphicon-content-code">e68f</span>
		</li>																									<li>
			<span class="font-icon font-icon-navigation"></span>
			<span class="glyphicon-class">
				font-icon font-icon-navigation
			</span>
			<span class="glyphicon-content-code">e687</span>
		</li>
		<li>
			<span class="font-icon font-icon-picture"></span>
			<span class="glyphicon-class">
				font-icon font-icon-picture
			</span>
			<span class="glyphicon-content-code">e682</span>
		</li>
		<li>
			<span class="font-icon font-icon-mail"></span>
			<span class="glyphicon-class">
				font-icon font-icon-mail
			</span>
			<span class="glyphicon-content-code">e681</span>
		</li>
		<li>
			<span class="font-icon font-icon-qq"></span>
			<span class="glyphicon-class">
				font-icon font-icon-qq
			</span>
			<span class="glyphicon-content-code">e680</span>
		</li>
		<li>
			<span class="font-icon font-icon-search0"></span>
			<span class="glyphicon-class">
				font-icon font-icon-search0
			</span>
			<span class="glyphicon-content-code">e672</span>
		</li>
		<li>
			<span class="font-icon font-icon-search1"></span>
			<span class="glyphicon-class">
				font-icon font-icon-search1
			</span>
			<span class="glyphicon-content-code">e673</span>
		</li>
		<li>
			<span class="font-icon font-icon-calendar"></span>
			<span class="glyphicon-class">
				font-icon font-icon-calendar
			</span>
			<span class="glyphicon-content-code">e671</span>
		</li>																									<li>
			<span class="font-icon font-icon-home"></span>
			<span class="glyphicon-class">
				font-icon font-icon-home
			</span>
			<span class="glyphicon-content-code">e661</span>
		</li>
		<li>
			<span class="font-icon font-icon-disable"></span>
			<span class="glyphicon-class">
				font-icon font-icon-disable
			</span>
			<span class="glyphicon-content-code">e65f</span>
		</li>
		<li>
			<span class="font-icon font-icon-correct"></span>
			<span class="glyphicon-class">
				font-icon font-icon-correct
			</span>
			<span class="glyphicon-content-code">e65b</span>
		</li>
		<li>
			<span class="font-icon font-icon-error"></span>
			<span class="glyphicon-class">
				font-icon font-icon-error
			</span>
			<span class="glyphicon-content-code">e65c</span>
		</li>
		<li>
			<span class="font-icon font-icon-dl0"></span>
			<span class="glyphicon-class">
				font-icon font-icon-dl0
			</span>
			<span class="glyphicon-content-code">e66c</span>
		</li>
		<li>
			<span class="font-icon font-icon-dl1"></span>
			<span class="glyphicon-class">
				font-icon font-icon-dl1
			</span>
			<span class="glyphicon-content-code">e66d</span>
		</li>
		<li>
			<span class="font-icon font-icon-del0"></span>
			<span class="glyphicon-class">
				font-icon font-icon-del0
			</span>
			<span class="glyphicon-content-code">e66e</span>
		</li>
		<li>
			<span class="font-icon font-icon-del1"></span>
			<span class="glyphicon-class">
				font-icon font-icon-del1
			</span>
			<span class="glyphicon-content-code">e66f</span>
		</li>
		<li>
			<span class="font-icon font-icon-lock"></span>
			<span class="glyphicon-class">
				font-icon font-icon-lock
			</span>
			<span class="glyphicon-content-code">e6a0</span>
		</li>
		<li>
			<span class="font-icon font-icon-recycle"></span>
			<span class="glyphicon-class">
				font-icon font-icon-recycle
			</span>
			<span class="glyphicon-content-code">e69e</span>
		</li>
		<li>
			<span class="font-icon font-icon-ringer"></span>
			<span class="glyphicon-class">
				font-icon font-icon-ringer
			</span>
			<span class="glyphicon-content-code">e737</span>
		</li>
		<li>
			<span class="font-icon font-icon-ringer1"></span>
			<span class="glyphicon-class">
				font-icon font-icon-ringer1
			</span>
			<span class="glyphicon-content-code">e736</span>
    </li>																												<li>
        <span class="font-icon font-icon-time"></span>
        <span class="glyphicon-class">
            font-icon font-icon-time
        </span>
        <span class="glyphicon-content-code">e762</span>
    </li>	
    <li>
        <span class="font-icon font-icon-time1"></span>
        <span class="glyphicon-class">
            font-icon font-icon-time1
        </span>
        <span class="glyphicon-content-code">e764</span>
    </li>
    <li>
        <span class="font-icon font-icon-pc"></span>
        <span class="glyphicon-class">
            font-icon font-icon-pc
        </span>
        <span class="glyphicon-content-code">e797</span>
    </li>
    <li>
        <span class="font-icon font-icon-iphone"></span>
        <span class="glyphicon-class">
            font-icon font-icon-iphone
        </span>
        <span class="glyphicon-content-code">e798</span>
    </li>
    <li>
        <span class="font-icon font-icon-banner"></span>
        <span class="glyphicon-class">
            font-icon font-icon-banner
        </span>
        <span class="glyphicon-content-code">e799</span>
    </li>   


    <li>
        <span class="font-icon font-icon-facebook"></span>
        <span class="glyphicon-class">
            font-icon font-icon-facebook
        </span>
        <span class="glyphicon-content-code">e79a</span>
    </li>   
    <li>
        <span class="font-icon font-icon-cout"></span>
        <span class="glyphicon-class" >
            font-icon font-icon-cout
        </span>
        <span class="glyphicon-content-code">e79c</span>
    </li>   
    <li>
        <span class="font-icon font-icon-step1"></span>
        <span class="glyphicon-class">
            font-icon font-icon-step1
        </span>
        <span class="glyphicon-content-code">e79d</span>
    </li>   
    <li>
        <span class="font-icon font-icon-step2"></span>
        <span class="glyphicon-class">
            font-icon font-icon-step2
        </span>
        <span class="glyphicon-content-code">e79e</span>
    </li>   
    <li>
        <span class="font-icon font-icon-step3"></span>
        <span class="glyphicon-class">
            font-icon font-icon-step3
        </span>
        <span class="glyphicon-content-code">e7f</span>
    </li>   
    <li>
        <span class="font-icon font-icon-instagram"></span>
        <span class="glyphicon-class">
            font-icon font-icon-instagram
        </span>
        <span class="glyphicon-content-code">e79b</span>
    </li>   
    <li>
        <span class="font-icon font-icon-oleft"></span>
        <span class="glyphicon-class">
            font-icon font-icon-oleft
        </span>
        <span class="glyphicon-content-code">e7a0</span>
    </li>   
    <li>
        <span class="font-icon font-icon-oright"></span>
        <span class="glyphicon-class">
            font-icon font-icon-oright
        </span>
        <span class="glyphicon-content-code">e7a1</span>
    </li>
    <li>
        <span class="font-icon font-icon-unused"></span>
        <span class="glyphicon-class">
            font-icon font-icon-unused
        </span>
        <span class="glyphicon-content-code">e7a2</span>
    </li>   
    <li>
        <span class="font-icon font-icon-traffic"></span>
        <span class="glyphicon-class">
            font-icon font-icon-traffic
        </span>
        <span class="glyphicon-content-code">e7a3</span>
    </li>   
    <li>
        <span class="font-icon font-icon-tout"></span>
        <span class="glyphicon-class">
            font-icon font-icon-cout
        </span>
        <span class="glyphicon-content-code">e7a4</span>
    </li>
    <li>
        <span class="font-icon font-icon-stopu"></span>
        <span class="glyphicon-class">
            font-icon font-icon-stopu
        </span>
        <span class="glyphicon-content-code">e7a5</span>
    </li>   
    <li>
        <span class="font-icon font-icon-magic"></span>
        <span class="glyphicon-class">
            font-icon font-icon-magic
        </span>
        <span class="glyphicon-content-code">e7a6</span>
    </li>   
    <li>
        <span class="font-icon font-icon-temp"></span>
        <span class="glyphicon-class">
            font-icon font-icon-temp
        </span>
        <span class="glyphicon-content-code">e7a7</span>
    </li>
    <li>
        <span class="font-icon font-icon-meye"></span>
        <span class="glyphicon-class">
            font-icon font-icon-stopu
        </span>
        <span class="glyphicon-content-code">e7a8</span>
    </li>   
    <li>
        <span class="font-icon font-icon-fire"></span>
        <span class="glyphicon-class">
            font-icon font-icon-fire
        </span>
        <span class="glyphicon-content-code">e7aa</span>
    </li>   
    <li>
        <span class="font-icon font-icon-switch"></span>
        <span class="glyphicon-class">
            font-icon font-icon-switch
        </span>
        <span class="glyphicon-content-code">e7a9</span>
    </li>   
    <li>
        <span class="font-icon font-icon-screen"></span>
        <span class="glyphicon-class">
            font-icon font-icon-screen
        </span>
        <span class="glyphicon-content-code">e7ac</span>
    </li>
    <li>
        <span class="font-icon font-icon-line"></span>
        <span class="glyphicon-class">
            font-icon font-icon-line
        </span>
        <span class="glyphicon-content-code">e655</span>
    </li>     
    <li>
        <span class="font-icon font-icon-pie"></span>
        <span class="glyphicon-class">
            font-icon font-icon-pie
        </span>
        <span class="glyphicon-content-code">e657</span>
    </li>  
    <li>
        <span class="font-icon font-icon-conf"></span>
        <span class="glyphicon-class">
            font-icon font-icon-conf
        </span>
        <span class="glyphicon-content-code">e658</span>
    </li> 
    <li>
        <span class="font-icon font-icon-expt"></span>
        <span class="glyphicon-class">
            font-icon font-icon-expt
        </span>
        <span class="glyphicon-content-code">e656</span>
    </li>                                           	                                   	    
	</ul>
</div>
<script type="text/javascript">
	prettyPrint();//渲染 代码 
</script>