<div class="pa-header">
<h2>表单</h2>
</div>
<h4 class="lead">
	输入框 --  普通
</h4>
<div class="bs-example bs-example-normal">
	<input type="text" class="form-input" />
	<input type="text" class="form-input" disabled />
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;input type="text" class="form-input" /&gt;&nbsp;&nbsp; &lt;input type="text" class="form-input" disabled /&gt;	
		</code>
	</pre>				
</div>
<div class="bs-example bs-example-alert">
	<input type="text" class="form-input form-input-alert" />
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;input type="text" class="form-input form-input-alert" /&gt;&nbsp;&nbsp;	
		</code>
	</pre>				
</div>
<div class="bs-example bs-example-warning">
	<input type="text" class="form-input form-input-warning" />
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;input type="text" class="form-input form-input-warning" /&gt;&nbsp;&nbsp;	
		</code>
	</pre>				
</div>
<div class="bs-example">
	<input type="email" class="form-input" />
	<input type="date" class="form-input" />
	<input type="password" class="form-input" />
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;input type="email" class="form-input" /&gt;	
		</code>
	</pre>
	<pre class="prettyprint">
		<code class="language-html">
&lt;input type="date" class="form-input" /&gt;	
		</code>
	</pre>
	<pre class="prettyprint">
		<code class="language-html">
&lt;input type="password" class="form-input" /&gt;	
		</code>
	</pre>
</div>
<div class="bs-example bs-example-normal">
	<textarea class="form-textarea"></textarea>
	<textarea class="form-textarea" disabled></textarea>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;textarea  class="form-textarea" /&gt; &nbsp; &lt;textarea  class="form-textarea" disabled /&gt;	
		</code>
	</pre>
</div>
<div class="bs-example bs-example-alert">
	<textarea class="form-textarea form-textarea-alert"></textarea>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;textarea  class="form-textarea form-textarea-alert" /&gt;
		</code>
	</pre>
</div>
<div class="bs-example bs-example-warning">
	<textarea class="form-textarea form-textarea-warning"></textarea>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;textarea  class="form-textarea form-textarea-warning" /&gt;
		</code>
	</pre>
</div>
<h4 class="lead">
	输入框 --  带图标
</h4>
<div class="bs-example">
	<div class="ndp-search-wrapper">
		<div class="search-decoration">
			<input class="form-control search-input" type="text" >
			<i class="glyphicon glyphicon-search" style="width: 28px; height: 28px; line-height: 28px;"></i>
		</div>
	</div>

	<div class="ndp-search-wrapper disabled">
		<div class="search-decoration">
			<input class="form-control search-input" disabled type="text" >
			<i class="glyphicon glyphicon-search" style="width: 28px; height: 28px; line-height: 28px;"></i>
		</div>
	</div>
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-html">
&lt;div class=&quot;ndp-search-wrapper&quot;&gt;
	&lt;div class=&quot;search-decoration&quot;&gt;
		&lt;input class=&quot;form-control search-input&quot; type=&quot;text&quot; &gt;
		&lt;i class=&quot;glyphicon glyphicon-search&quot; style=&quot;width: 28px; height: 28px; line-height: 28px;&quot;&gt;&lt;/i&gt;
	&lt;/div&gt;
&lt;/div&gt;
		</code>
	</pre>
	<pre class="prettyprint">
		<code class="language-html">
&lt;div class=&quot;ndp-search-wrapper disabled&quot;&gt;
	&lt;div class=&quot;search-decoration&quot;&gt;
		&lt;input class=&quot;form-control search-input&quot; disabled type=&quot;text&quot; &gt;
		&lt;i class=&quot;glyphicon glyphicon-search&quot; style=&quot;width: 28px; height: 28px; line-height: 28px;&quot;&gt;&lt;/i&gt;
	&lt;/div&gt;
&lt;/div&gt;
		</code>
	</pre>

</div>
<script type="text/javascript">
	prettyPrint();//渲染 代码 
</script>