<div class="pa-header">
<h2>树状二维表2<span class="js-specific">sutable.js</span></h2>
</div>
<h4 class="lead">
	普通样式的树状二维表
</h4>
<div class="bs-example">
	<div style="margin:10px auto">
	<button class="btn btn-success" id="update">更新数据</button>
	<button class="btn btn-danger" id="ajax">更新ajax</button>
	</div>
	<div class="doc-html-wrapper">
		<div class="ndp-sutable-wrapper" name="plain"> 	
	</div>  	   	 	   	  		
</div>
<div class="highlight">
	<pre class="prettyprint">
		<code class="language-js">
var data1=[{id:1001,label:[{name:"中华人民共和国"},{text:"运行中",value:0},{text:"9000"},{text:"10-1"},{text:"2000-1"},{text:"1100"},{text:"4000"},{text:"987"},{text:"601"},{text:"107"},{text:"222"},{text:1100},{status:!1}],hasChild:!0},{id:1002,label:[{name:"美国"},{text:"审核未通过",value:2,reason:"活动已经被对方暂停"},{text:2},{text:20},{text:2e3},{text:2},{text:20},{text:2},{text:20},{text:100},{text:200},{text:1100},{status:!0}],hasChild:!0},{id:1003,label:[{name:"美国"},{text:"运行中",value:0},{text:2},{text:20},{text:2e3},{text:2},{text:20},{text:2},{text:20},{text:100},{text:200},{text:1100},{status:!0}],hasChild:!0}];		
		
var hwd = $(".ndp-sutable-wrapper").sutable({
	ajaxOptions: {//ajax 请求设置
		type: "GET",
		url: "../data/sutable.json",
		xhrFields: { withCredentials: true}
	},
	dataProxy: null, //需要对ajax请求后处理返回值是调用
	head:[{label:"广告活动"},{label:"状态",desc:"这一列用来说明处于什么状态"},//label 列表标题
		  {label:"展示数",desc:"这一列用来说明展示的数目"},//desc 用来显示tooltip
		  {label:"点击数",desc:"这一列用来说明展示的数目"},
		  {label:"点击率",desc:"这一列用来说明展示的数目"},
		  {label:"转化数",desc:"这一列用来说明展示的数目"},
		  {label:"转化率",desc:"这一列用来说明展示的数目"},
		  {label:"CPC",desc:"这一列用来说明展示的数目"},
		  {label:"CPM",desc:"这一列用来说明展示的数目"},
		  {label:"CPA",desc:"这一列用来说明展示的数目"},
		  {label:"花费",desc:"这一列用来说明展示的数目"}
		  ,{label:"赢价率",desc:"这一列用来说明展示的赢价率"},
		  {label:"开启/暂停",desc:"这一列用来说明展示的赢价率"},
		  {label:"操作",desc:"这一列是用户用来操作的项目"}
		 ],				
	body:data1,
	//列表 最下面 总计数据
	tail:[{text:1000},{text:1000},{text:1000},{text:1000},{text:1000},{text:1000},{text:1000},{text:1000},{text:1000},{text:1000}],
	sort:[3,5,7,9]// 第4列，6列，8页  10页显示 排序按钮  默认从0开始
}).on("SORT_CLICK",function(e){//用户点击排序按钮
	//返回数据，包含，第几列，默认0； 列名
	console.log(e.originalEvent.data);//{col: 3, val: "点击数"}
}).on("OPERATE_ACTION",function(e){//点击，编辑按钮，拷贝按钮，点击广告活动名称，点击新增
	var dat = e.originalEvent.data;
	switch(dat.action){
		case "edit"://用户点击编辑按钮 	 
			console.log(dat.id);//dat.id所在行的 数据id
			break;
		case "copy"://用户点击copy按钮  
			console.log(dat.id);//所在行的 数据id					
			break;
		case "name"://用户点击广告活动名称 按钮 
			console.log(dat.id);//所在行的 数据id	
			break;
		case "addnew":
			console.log(dat.preid+" : " + dat.type);//preid上一行数据的id, type: 0(新增广告组)1(新增广告) >2(未知)
			break;
		case "switch":// 点击 "开启/暂停" 列的 switch 按钮
			console.log("状态:" + dat.value + " : id:" + dat.id, dat.hwd);// value 0 关闭，1开启， id：所在行的数据id
			//dat.hwd   是 switcher 的句柄
			//抛出这个事件，意味着用户点击了， 按钮switcher  滑块发生了变化，
			//如果返回状态发生变化，需要重置滑块（回到上次的状态） hwd.switchBack(dat.hwd); //hwd 是sutable实例，dat.hwd 是switcher
			//如果想手动处理switcher 可以    dat.hwd.children("label").addClass("active") 打开，removeClass("active")关闭
			break;
		case "nextlayer"://点击加好 + 按钮，加载下一级数据
			console.log("deep(深度层次):" + dat.deep + " : 上一级数据id" + dat.id + " : DOM fa(上一级DOM 节点) "+  dat.fa);// value 0 关闭，1开启， id：所在行的数据id
			break;
	}
});


$("#update").click(function(){
	bool = !bool;
	hwd.update((bool?data2:data1),sum);
});

//更新ajax 请求的参数
$("#ajax").click(function(){
    hwd.updateAjaxOption({
         url: "../data/sutable2.json"
    });
});    
    
		</code>
	</pre>
</div> 