/***
** set the base css of this project
**/
*{
    padding: 0;
    margin:0;
    font-size: 12px;
    border:none;
    box-sizing: border-box!important;
    list-style: none;
}

html,body{
    position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

*:focus,a,a:focus{
	outline: none;
}

button.btn:focus{
	outline: 0;
}

.form-control{
	box-shadow:none;
}
.form-control:focus{
	transition: none;
	box-shadow: none;
}
button.btn:active{
	outline: 0;
}

ul{
    padding: 0;
    margin: 0;
}
.panel{
    border-radius: 0;
    border:0;
    box-shadow:none;
}
pre{
    border-radius: 0;
    padding: 0;
}
code.language-html{
    
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px;
}
scrollbar {
    min-width: 6px !important;
    max-width: 6px !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}