.ndp-blend-wrapper{
	position: relative;
	display: inline-block;
	width: 400px;
	height: 30px;
	box-shadow: 0;
}

.blend-input{
	position: relative;
	margin: 0;
	height: 100%;
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
	border:1px solid #e0e0e0;
	vertical-align: top;
}
.ndp-blend-wrapper>.icon-wrapper{
	position: relative;
	top:0;
	left:0;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0;
	text-align: center;
}
.ndp-blend-wrapper>.icon-wrapper>i{
	font-size: 20px;
	margin: 4px auto;
	color:#707070;
}
.ndp-blend-wrapper>.icon-wrapper>i:hover{
	color:black;
}

/*****
*** 下拉菜单部分
*****/

.dropdown-menu.blend-search-drop{
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
	margin: 0;
	margin-top:-1px;
	display: block;
	box-shadow: 0 0 1px rgba(224, 224, 224, 0.5);
}
.dropdown-menu.blend-search-drop>li>a{
	position: relative;
	border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu.blend-search-drop>li>a>.aud-class{
	position: absolute;
	right: 15px;
}

.dropdown-menu.blend-search-drop>li:nth-last-child(1)>a{
	border-bottom: 1px solid transparent;
}

.dropdown-menu.blend-search-drop em{
	font-style: normal;
	color:#fd9611;
}

/****
**
****/
.dropdown-menu.blend-classify-drop{
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
	margin: 0;
	margin-top:-1px;
	display: block;
	box-shadow: 0 0 1px rgba(224, 224, 224, 0.5);	
}