.form-input[type="checkbox"]{
	display: none;
	vertical-align: top;
}
.form-input[type="checkbox"]+label:before{
	position: absolute;
	display: inline-block;
	content:"";
	width: 15px;
    height: 15px;
	padding-left: 0.85px;
	padding-top:1.2px;
	line-height: 12px;
 	border:1px solid #b5b5b5;
	bottom: 0;
	margin: 0;
	margin-left:-25px;
	font-family: 'Glyphicons Halflings';
}
.form-input[type="checkbox"]+label:hover:before{
	box-shadow: 0 0 2px #c1c1c1;
	border-color:#fd9611;
}

/***

.form-input[type="checkbox"]:checked+label:before{
	font-family:"NXDC FONTS" !important;
	content:"\e69b";
	box-shadow: 0 0 0;
	color:#fd9611;
	cursor: pointer;
	font-size: 9px;
}
*/

.form-input[type="checkbox"]+label{
	position: relative;
	font-size: 12px!important;
}
/**** radio ****/
.form-input[type="radio"]{
	display: none;
	vertical-align: top;
}
.form-input[type="radio"]+label{
	position: relative;
	margin: 0;
	margin-right: 10px;
	font-size: 12px;
    text-align: inherit!important;
}

/****
** radio  前面的圆圈
*****/
.form-input[type="radio"]+label:before{
	position: absolute;
	display: inline-block;
	content:"";
	font-family: 'Glyphicons Halflings';	
	width: 15px;
    height: 15px;
	border-radius: 100%;
	line-height: 8px;
	border:1px solid #ccc;
	margin: 0;
	margin-top:1px;
	text-align: center;
	margin-left: -25px;
}
.form-input[type="radio"]+label:hover:before{
	box-shadow: 0 0 2px #c1c1c1;
	border-color:#fd9611;
}
/****
.form-input[type="radio"]:checked+label:before{
	position: absolute;
	content:"\2022";
	** 选中时 里面的原点 ***
	font-size: 18.5px;
	box-shadow: 0 0 0;
	color:#fd9611;
}
*/

.form-input[type="radio"]:checked+label>.radio-dot{
	position: absolute;
	display: inline-block;
	border-radius: 100%;
	width: 7px;
	height: 7.5px;
	background-color: #fd9611;
	left: -21px;;
	top:4.5px;
	overflow: hidden;
}

.form-input[type="checkbox"]:checked+label>.checkbox-mark{
	display: inline-block;
	position: absolute;
	left: -20.7px;
	top:1.8px;
	width: 6.3px;
	height: 11.2px;
	border-right: 1px solid #fd9611;
	border-bottom: 1px solid #fd9611;
	-webkit-transform: rotate(41deg);
	-moz-transform: rotate(41deg);
	transform: rotate(41deg);
}


