.bs-example.bs-example2>.dropdown>.dropdown-menu {
    position: absolute;
    border-radius: 0;
    margin: 0;
    display: none;
}

.bs-example2>.dropdown.drop2-wrapper.open>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-menu {
    position: absolute;
    border-radius: 0;
    max-height: 250px;
    overflow: auto;
}

.dropdown.drop2-wrapper button {
    background-color: transparent;
}

.dropdown.drop2-wrapper.open {
    color: #fc7408;
}

.dropdown.drop2-wrapper button>i {
    font-size: 10px;
    margin-left: 5px;
}

.dropdown-menu .list-root {
    margin: 0;
}

.dropdown-menu .drop-list-item {
    margin: 0;
    padding: 0;
    color: #333;
}
.dropdown-menu .drop-list-item>a{
	padding-left: 10px;
}

.dropdown-menu .list-leaf{
	padding-left: 10px;
	padding-right: 10px;
}

.dropdown-menu .drop-list-item .list-leaf:hover{
	background: #f7f0e8;
}
.dropdown-menu .list-leaf:hover,.dropdown-menu .list-leaf>a:hover {
    background: #f7f0e8;
    color: #fc7408;
    cursor: pointer;
	text-decoration: none;
}

.dropdown-menu .drop-list-item>.content-part {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

/****
** 标题行
***/
.dropdown-menu .drop-list-item>.content-part.title-layer{
	color:black;
	font-weight: bolder;
	padding-left: 10px;
}
.dropdown-menu .drop-list-item>.content-part.title-layer:hover{
	background-color: white;
	color:#333;
}

.dropdown-menu .list-leaf[deep='2']>a{
	padding-left: 20px;
	color:#333;
}
.dropdown-menu .list-leaf[deep='2']>a:hover{
	color: #fc7408;
}

.dropdown-menu .drop-list-item>.content-part>.icon-part {
    display: inline-block;
    float: left;
    width: 24px;
    height: 100%;
}

.dropdown-menu .drop-list-item>.content-part>.txt-part {
    display: inline-block;
    width: calc(100% - 24px);
    height: 100%;
}

.dropdown-menu .drop-list-item>.content-part.title-layer>.txt-part {
    font-weight: bolder;
    width: calc(100% - 10px);
}

.dropdown-menu .drop-list-item>.content-part.title-layer>.icon-part {
    width: 10px;
}
