.ndp-sinput-wrapper{
	position: relative;
	display:inline-block;
	height: 30px;/***这个值在实际使用中应该被覆盖 ***/
	width: 140px;/***这个值在实际使用中应该被覆盖 ***/
	min-height: 25px;
	min-width: 60px;
	border:1px solid #e0e0e0;
	padding: 0;
	box-sizing: border-box;
	transition: background,box-shadow 0.3s;
}
.ndp-sinput-wrapper:focus,.ndp-sinput-wrapper.active{
	box-shadow:0 0 2px #ccc;
/*	outline: 1px;*/
}
/***
** 校验失败
***/
.ndp-sinput-wrapper.fail{
	border-color:#e40000;
}

.ndp-sinput-wrapper.fail>.xion-cus>i{
	color:#e40000;
}

/***
** 校验提示
***/
.ndp-sinput-wrapper.warning{
	border-color:#ffb000;
/*	box-shadow: 0 0 2px #db9905;*/
}
.ndp-sinput-wrapper.warning>.xion-cus>i{
	color:#ffb000;
}

.ndp-sinput-wrapper[disabled],.ndp-sinput-wrapper[disabled].active{
	box-shadow: 0 0 0 transparent;
	background-color: #dee7e7;
	cursor:not-allowed;
}
.ndp-sinput-wrapper>input[type]{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	border-width:0;
	line-height: normal;
	padding: 0 3px;
	border-width: 0;
	font-size:12px;
	vertical-align: top;
}
.ndp-sinput-wrapper.active>input[type]{
		box-shadow: 0 0 0;
}

.ndp-sinput-wrapper>input[type=password]{
	letter-spacing: 2px;
	font-size: 12px;
}
.ndp-sinput-wrapper[disabled] *{
	background-color: #dee7e7;
	color:#ccc;
	cursor:not-allowed;
}

.sinput-title{
	position: absolute;
	display: inline-block;
	padding: 0 4px;
	color:red;
	top:-8px;
	left:15px;
	font-size: 10px;
	background-color: white;
	z-index: 100;
}

/***
** 图标
**/
.xion-cus{
	position: absolute;
	display: inline-blocverticalk;
	margin: 0;
	height: 100%;
	padding: 0;
	text-align: center;
	overflow: hidden;
	z-index: 100;
	cursor: pointer;
	width: 14px;
	height: 14px;
	vertical-align: top;
}
/**
.xion-cus>i:hover{
	color:#823030;
	font-size: 14px;
}
*/

.xion-cus>i.font-icon{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color:#979da3;
	width: 14px;
	height: 14px;
	overflow: hidden;
}

/**
**
**/
span.step-wrapper{
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 20px;
	cursor: pointer;
}
span.step-wrapper>i{
	position: absolute;
	height: 50%;
	width: 100%;
	text-align: center;
	background-color: #f6f6f6;
	border:1px solid #ccc;
	border-right-width:0;
	border-bottom-width:0;
	font-size: 10px;
	line-height: 1.2em;
}
span.step-wrapper>i:hover{
	background-color: #edeff0;
}
span.step-wrapper>i.glyphicon-triangle-top{
	top:0;
	border-top-width:0;
}
span.step-wrapper>i.glyphicon-triangle-bottom{
	top:50%;
	z-index: 300;
}
