.ndp-treable-wrapper{
	position: relative;
	padding: 0!important;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #e0e0e0;
	overflow: hidden;

}
.ndp-treable-wrapper.resize-cursor{
	cursor: col-resize;
}

/***
** toolbar
***/
.sutable-toolbar{
	position: absolute;
	z-index: 300;
	height: 0;
	width: 100%;
	top:0;
	left: 0;
	background-color: #878787;
	overflow: hidden;
/*
	-moz-transition: height 0.3s ease-in-out;
	-webkit-transition: height 0.3s ease-in-out;
*/
	transition: all 0.3s ease-in-out ;
}
.extend .sutable-toolbar{
	width: 400%;
}

.sutable-toolbar>*{
	opacity:0;
}
.sutable-toolbar.active{
	height: 40px;
	color:white;
	line-height: 38px;
	background-color: #e0e0e0;
/*	transition: "opacity" 0.3s ease-in-out*/
}
.sutable-toolbar.active>*{
	opacity:1;
}
.sutable-toolbar .btn{
	border:1px solid transparent;
	border-radius: 0;
	background-color: #fd9611;
	color:white;
	height: 30px;
	margin-left: 10px;
	padding-top:4px;
}
.sutable-toolbar .btn:hover{
/*	border-color:#dfdfdf;*/
	background-color: #fc7408;
}
.sutable-toolbar .btn:active,.sutable-toolbar .btn.active{
	background-color:transparent;
	color:#ccc;
}

/***
**列表头
***/
.treable-header{
	position: relative;
/*	width: 100%;*/
	width: 400%;
    white-space: nowrap;
	margin: 0;
	padding: 0;
}



/****
**列表尾
***/
.treable-footer{
	position: relative;
/*	position: absolute;*/
	height: 50px;
	background-color: #e7e7e7;
	z-index: 200;
	bottom: 0;
	margin: 0;
	box-shadow: 0 -4px 0 rgba(204, 204, 204, 0.1);
	width: calc(100% - 15px - 15px - 200px - 6px);
/*	width: 100%;*/
/*	left:0;*/
/*	transition:all 0.5s linear 0.3s;*/
}
.sutable-footer.repos{
	bottom: 14px;
}

/***
** 横向滚动条
***/
.ndp-treable-wrapper .horiz-scroll{
	position: relative;
	z-index: 200;
	width: calc(100% - 15px - 15px - 200px - 6px);
	bottom: 0;
	background-color: white;
}
.horiz-scroll.show{
	height: 14px;
	padding-top:2.8px;
}
.ndp-treable-wrapper .horiz-scroll.show .horiz-thumb{
	position: relative;
	z-index: 100;
	width: 99%;
	height: 60%;
	background-color: #ccc;
	border-radius: 5px;
	cursor: default;
}

.shrink-expand .sutable-footer{
	width: calc(100% - 15px - 15px - 200px - 6px + 120px);
}


.treable-body{
	position: relative;
	min-height: calc(100% - 40px);
	width: 100%;
}
.extend .treable-body{
	width:400%;
}
/***
**  列表 行
***/
.treable-row{
	position: relative;
	margin: 0;
	height: 100%;
    height: 36px;
	line-height:0;
/*	overflow: hidden;*/
}

.treable-header>.treable-row,.treable-header.set-head>.treable-row{
	position: relative;
/*	width: 100%;*/
	margin: 0;
	padding: 0;
	line-height:normal;
	border-left-width: 0;
	border-top-width: 0;
}
/****
** 所有行
***/
.open .treable-row{
	border-top:1px solid #e0e0e0;
}
.open.treable-row-wrapper-parent[deep='1']{
	border-bottom:1px solid #e0e0e0;
}
.treable-row-wrapper-parent[deep='1']{
	border-bottom-width:0;
	border-left-width: 0;
	border-right-width: 0;
}

.treable-item{
	border-left:1px solid #e0e0e0;
}
.treable-item.open[deep='1']{
	border-width: 0;
}
.treable-item[deep='1']{
	border-top:1px solid #e0e0e0;
	border-left-color: transparent;
}


.treable-item[deep='2']{
	background-color: #f7f9fa;
}
.treable-item[deep='3']{
	background-color: #eff1f4;
}
.treable-item[deep='2']>ul{
	border-top:1px solid #e0e0e0;
}
/***
** 第二层 第一个
***/
.treable-item[deep='1']>ul>li:nth-child(1) .treable-row{
	border-top-width: 0;
}
.treable-item[deep='1']>ul>li:nth-last-child(1) .treable-row{
	border-bottom-width: 0;
}

.treable-item[deep='2']>ul>li:nth-child(1) .treable-row{
	border-top-width: 0;
	border-bottom-width: 0;
}

.treable-item[deep='1']>ul>li .treable-row{
	border-bottom-width: 0;
}

.treable-row-wrapper:nth-child(1){
	botder-top-width:0;
}

/***
** 图表界面
**/
/****
** 图表 所在层  chart 和 tabs 所在的层
***/
.treable-row-wrapper>.chart-wrapper{
	position: relative;
	overflow: hidden;
	height: 0;
}

/****
**  图表里面的tabs
***/
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper{
	position: relative;
	top:0;chart
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-width: 0;
}
/***
** 显示图表界面
***/
.treable-body .treable-row.focus{
	background-color: #e0e0e0;
}


/***
** 图表层 关闭按钮
***/
.close.chart-close{
	position: absolute;
	z-index: 200;
	top:0;
	right: 0;
	width: 30px;
	height: 30px;
	background-color: #eee;
}
.close.chart-close>*{
	font-size: 24px;
}

/***
** 整个图表层的高度
***/
.treable-row-wrapper>.chart-wrapper.open{
	height: 300px; /***图表层的高度***/
	width: 25%;
}

/***
**图表层 内容部分
***/
.treable-row-wrapper>.chart-wrapper.open>.tab-content-cus{
	position: relative;
	float: left;
	width: calc(100% - 150px);
	height: 100%;
	margin: 0;
	padding: 0;
	border-width: 0;
}
.treable-row-wrapper>.chart-wrapper.open>.tab-content-cus .tab-pane{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/***
** 设置 tabs 部分
***/
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper{
	float: left;
	height: 100%;
	width: 150px;/*** tab 的 宽度***/
	padding: 0;
	overflow: hidden;
}
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper>ul{
	border-width: 0;
	width: 100%;
}
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper>ul.nav>li{
	width: 100%;
	clear:both;
	padding:1px 0;
}
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper>ul.nav>li>a:hover{
	border-color: transparent;
}
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper>ul.nav>li.active>a{
	border-width: 0;
	border-left: 3px solid #f79d0c;
	background-color: #f7f7f7;
}
/***
** 图表界面 里面的部分
**/
.treable-row-wrapper>.chart-wrapper>.ndp-tab-wrapper>*{
	opacity: 0;
	height: 100%;
}
.treable-row-wrapper>.chart-wrapper.open>.ndp-tab-wrapper>*{
	opacity: 1;
}

.treable-body li.treable-item{
	position: relative;
	height: auto;
	transition: all 0.4s ease-in-out;
}

.treable-body .treable-row{
	position: relative;
	height: 40px;
}

.treable-body .open .treable-row{
	border-bottom: 1px solid #e0e0e0;
}


/***
** 鼠标 hover 一行的高亮效果
***/
.treable-body .treable-row:hover{
	background-color: #e9e8e4;/******white;****/
/*	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);*/
/*	z-index: 10;*/
}

.sub-layer{
	padding-left: 20px;
}
/***
** col  列
***/
.treable-row>.sutable-col{
	position: relative;
	display:inline-block;
	box-sizing: border-box;
	height:100%;
	margin: 0;
	top:0;
	white-space: nowrap;
	float: left;
	border:1px solid transparent;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor:default;
	padding-left: 10px;
	overflow: hidden;
	transition:width 0.1s;
}
.ndp-treable-wrapper .treable-header>.treable-row>.sutable-col,.ndp-treable-wrapper .treable-header.set-head>.treable-row>.sutable-col{
    border-width: 0;
    line-height: 36px;
}


.ndp-treable-wrapper .treable-row>.sutable-col.active{
	border-right-color:deepskyblue;
}

.ndp-treable-wrapper .treable-row .sutable-col-status{
	margin-left: 40px;
	width: 70px!important;
	overflow: hidden;
}
.ndp-treable-wrapper .treable-header.set-head .treable-row>.sutable-col-status{
	margin-left: 41px;/*****修正问题****/
}
.treable-row[deep='1']>.sutable-col-status{
	margin-left: 41px;/***还有20px padding***/
}
.treable-row[deep='2']>.sutable-col-status{
	margin-left: 20px;/***还有20px padding***/
}
.treable-row[deep='3']>.sutable-col-status{
	margin: -1px;/***还有40px padding***/
}
.sutable-col-status>span.switcher{
	position: absolute;
	width: 30px;
	margin: 0;
	padding: 0;
	padding-top:5px;
	left:50%;
	margin-left: -15px;
}
.sutable-col-status>span.switcher>label{
	background-color: transparent;
}



.treable-row .sutable-col:nth-child(n+3){
	min-width: 60px;
	width:inherit;
}
/***
** 排序
***/
.ndp-treable-wrapper .treable-header .sutable-col>.sort-wrapper,.ndp-treable-wrapper .treable-header.set-head .sutable-col>.sort-wrapper{
	position: absolute;
	height: 100%;
    width: 8px;
	margin-left: 4px;
	cursor: pointer;
	overflow: hidden;
    text-align: center; 
    padding-top:7px;
}

.ndp-treable-wrapper .treable-header .sutable-col>.sort-wrapper>i.glyphicon,.ndp-treable-wrapper .treable-header.set-head .sutable-col>.sort-wrapper>i.glyphicon{
    position:relative;
    display:block;
    width: 8px;
    height: 6px;
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    transform: scale(0.6);
    left: -28%;
}

.ndp-treable-wrapper .treable-header .sutable-col>.sort-wrapper>i.glyphicon.hi{
	color: #fc7408;
}

.ndp-treable-wrapper .sutable-col>.sort-wrapper>i.glyphicon-triangle-bottom{
	top:2px;
}




.treable-body .sutable-col{
	line-height: 40px;
}

.treable-row .sutable-col-name,.treable-header .sutable-col-name,.treable-header.set-head .sutable-col-name{
	min-width: 130px!important;
	padding-right: 15px;
/*	width: 15%;*/
}
/****
** 图标
****/
.treable-row i.font-icon-money{
	position:absolute;
	right: 5px;
	display: none;
	top:12px;
	width: 15px;
	height: 15px;
	font-size: 16px;
	color:#fc7408;
	cursor:pointer;
}
.treable-row:hover i.font-icon-money{
	display: block;
}

.dropdown-menu.dropdown-menu-money{
	position: fixed;
	z-index: 850;
	display: block;
	top:65px;
	left:222px;
	box-shadow: 0 0 12px #eee;
	background-color: white;
}
.treable-row>.sutable-col>.inspliter{
	position: absolute;
	display: inline-block;
	width: 5px;
	height: 99%;
	z-index: 10;
/*	top:15%;*/
	right: 0px;
/*	left:0px;*/
	overflow: visible;
	border-right: 1px solid #ccc;
/*	background-color: red;*/
}

.treable-row>.sutable-col>.inspliter:hover{
	cursor: col-resize;
}

.split-line{
	position: absolute;
	display: inline-block;
	z-index: 100;
	top:0;
	bottom: 0;
	border-left: 1px solid transparent;
}
.split-line.active{
	border-left: 1px solid #0683ba;
}


/***
**加减号
***/
.ndp-treable-wrapper .btn-plus-minus{
	position: absolute;
	display: inline-block;
	width: 13px;
	height: 13px;
	left: 13px;
	top:12px;
	z-index:300;
	border:1px solid #d4d4d4;
}
/****
** 用户自定义 caret
***/
.ndp-treable-wrapper .btn-plus-minus.custom-caret{
	text-align: center;
	padding-top:3px;
	border:0;
}
.btn-plus-minus.custom-caret>*{
	font-size:10px;
	transition:all 0.3s linear;
}

.open>.btn-plus-minus.custom-caret>*{
	transform: rotate(180deg);
}

.open>.btn-plus-minus>.line-ver{
	display: none;
}

.btn-plus-minus+div+ul{
	height: 0;
	overflow: hidden;
}
.open>.btn-plus-minus+div+ul{
	overflow: visible;
	height: inherit;
}


.ndp-treable-wrapper .btn-plus-minus>.line-hor{
	position: absolute;
	display: inline-block;
	width: 80%;
	top:44%;
	left:10%;
	border-bottom:1px solid #b1b1b1;
}
.ndp-treable-wrapper .btn-plus-minus>.line-ver{
	position: absolute;
	display: inline-block;
	height: 80%;
	top:10%;
	left:43.8%;
	border-left:1px solid #b1b1b1;
}


.ndp-treable-wrapper .switcher>label{
    width: 25px;
    height: 14px;
}

/***
中间白点 大小 
**/
.ndp-treable-wrapper .switcher>label.active:after{
   margin-left:12px;
}
.ndp-treable-wrapper .switcher>label:after{
     width: 13px;
}
/****
**  底部的背景色
****/
.ndp-treable-wrapper .switcher>label.active:before{
    background-color:#79a64a;
}

.ndp-treable-wrapper .switcher>label:before{
    background-color:#b9c3cd;
}

.treable-footer.set-foot{
	position: fixed;
	bottom: 0px;
}

.horiz-scroll.set-scroll{
	position: fixed;
	bottom:0;
	height:14px;
	z-index:500;
	padding-top:2.8px;
	background-color:#e7e7e7;
}

.horiz-scroll.set-scroll.show-set-scroll{
	background-color:white;
}

.ndp-treable-wrapper .horiz-scroll.set-scroll .horiz-thumb {
	position: relative;
	z-index: 100;
	width: 0;
	background-color: #ccc;
	border-radius: 5px;
	cursor: default;
}

.show-set-scroll .horiz-thumb{
	height: 60%;
}

.treable-header.set-head{
	position: fixed;
	width: 400%;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	top:0px;
	background-color:white;
}
