.tree-root{
	position: relative;
	padding: 0;
	margin: 0;
	border:none;
}
.tree-deepest{
/*	width: 300px;*/
	overflow: hidden;
}

li.tree-item{
	position: relative;
	margin: 0;
/*	overflow: hidden;*/
	min-height: 20px;
	min-width: 10px;
	line-height: 20px;
	padding-left: 3px;
	min-width: 20px;
	max-width: 300px;
}

span.tree-joint-wrapper{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 11px;
	height: 11px;
	padding: 0;
	border:1px solid #ccc;
	overflow: hidden;
	margin-right: 5px;
}
span.tree-joint-wrapper>.hor{
	position: absolute;
	width: 80%;
	height: 100%;
	border-top:1px solid black;
	top:-moz-calc(50% - 1px);
	top:-webkit-calc(50% - 1px);
	top:calc(50% - 1px);
	left:10%;
	background-color: transparent;
}
span.tree-joint-wrapper>.ver{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 80%;
	border-left:1px solid black;
	top:10%;
	left:-moz-calc(50% - 1px);
	left:-webkit-calc(50% - 1px);
	left:calc(50% - 1px);
}

span.line-inspect{
	position: absolute;
	display: inline-block;
	height: calc(100% - 30px);
	border-left: 1px dashed #aaa;
	top:16px;
	left:8px;
}
/***
** 水平线
**/
span.line-inspect-hori{
	position: absolute;
	width: 12px;
	top:8.5px;
	left:-11px;
	border-bottom: 1px dashed #aaa;
}

span.tree-joint-wrapper>span{
	position: absolute;
	display: block;
	cursor: default;
	left: 0;
	top:0;
	font-size:12px;
	user-select:none;
	-webkit-user-select:none;
	color:black;
}

/***
** + 号
***/
.tree-deepest span.tree-joint-wrapper>span:nth-child(1){
/*
	height: 100%;
	width:100%;
*/
						/*	border-top:1px solid black;*/
/*
	margin-top:4px;
	margin-left:10%;
*/
}
/***
** - 号
***/
.tree-deepest span.tree-joint-wrapper>span:nth-child(2){
/*
	height: 100%;
	width:100%;
*/
		/*	border-left:1px solid black;*/
/*
	margin-left: 4px;
	margin-top:10%;
*/
}

/***
span.tree-joint-wrapper.active>*:nth-child(1){
	display: none;
}
*/
span.tree-joint-wrapper.active>*:nth-child(2){
	display: none;
}
/***
** 叶子节点
**/

.tree-leaf:hover{
	cursor: default;
/*	background-color: #eee;*/
}
.tree-leaf.active{
	
}
.tree-leaf:hover>.tree-txt-wrapper{
	background-color: #eee;
}
.tree-leaf.active>.tree-txt-wrapper{
	background-color: #dfdfdf;
}

.tree-txt-wrapper{
	position: relative;
	font-weight: normal;
	cursor: default;
	white-space: nowrap;
	word-wrap: normal;
}
/***
** 文字前面的图标
**/
.tree-txt-wrapper>i{
	margin-right: 4px;
	font-size: 12px;
}
.tree-txt-wrapper>i.glyphicon-folder-open{
	color:#fbd845;
}
.tree-txt-wrapper>i.glyphicon-file{
	color:#acddfb;
}

.tree-txt-wrapper>input[type=checkbox]{
	margin-right: 5px;
	width: 12px;
}
